table{
	font-family: Arial;
	font-size: 12px;
	color: #444;
}
.gradient{
	background: #f8f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f9f9 0%, #e7e9eb 45%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f9f9), color-stop(45%,#e7e9eb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f9f9 0%,#e7e9eb 45%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f9f9 0%,#e7e9eb 45%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f9f9 0%,#e7e9eb 45%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f9f9 0%,#e7e9eb 45%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f9', endColorstr='#e7e9eb',GradientType=0 ); /* IE6-9 */
}
tr:first-child > td{
	border: 1px solid #9ea5ac;
}

tr:last-child > td{
	border-top: none;
	border-left: 1px solid #9ea5ac;
	border-right: 1px solid #9ea5ac;
	border-bottom: 1px solid #9ea5ac;
}
td{
	border-top: none;
	border-left: 1px solid #9ea5ac;
	border-right: none;
	border-bottom: 1px solid #9ea5ac;
	padding: 5px 7px;
}
td:last-child{
	border-right: 1px solid #9ea5ac;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}
table tr:first-child td:first-child {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

table tr:first-child td:last-child {
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}
button{
	width: 19px;
	height: 19px;
	border: 1px solid #bbb;
	background-size: 19px 19px;
}
#first{
	background-image: url("images/btn_background_first.jpg");
}
#previous{
	background-image: url("images/btn_background_prev.jpg");
}
#next{
	background-image: url("images/btn_background_next.jpg");
}
#last{
	background-image: url("images/btn_background_last.jpg");
}
#sort{
	background-image: url("images/btn_background_1.jpg");	
	position: relative;
	top: 3px;
	left: 2px;
}
div{
	display: inline-block;
	position: relative;
	top: -3px;
	padding: 3px 2px;
	
}
div:first-of-type{
	border: 1px solid orange;
	border-radius: 5px;
	padding: 3px 5px;
};
input{
	display: inline-block;
}
#product-id{
	width: 30px;
}
#product-name{
	width: 140px;
}
#unit-price{
	width: 75px;
}
#quantity{
	width: 90px;
}
#quantity-per-unit{
	width: 150px;
}
#units{
	width: 162px;
}
#units-in-stock{
	width: 75px;
}
#product-name-td{
	width: 240px;
}
select, #bottom-text{
	position: relative;
	left: 60px;
	color: #444;
}
#bottom-text-2{
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	left: 325px;
}